<!-- 
    ##################
    LINK BASICS
        1.  ANCHORS
        2.  LINK TYPES
    ##################
    
    ###########
    1.  ANCHORS
    ###########

    Je kan punt op de pagina een anchor geven met een ID of class en daar
    Vervolgens naar toe linken met een link op een andere plaats:
-->
        <a id="top"></a>
        <a href="#top">To the top</a>

        <div class="section" id="begin"></div>
        <a href="#begin">Back to the beginning of the section</a>
<!-- 
    ID en href zijn attributen en voegen extra betekenis toe aan elementen.
    De atribbuten zitten altijd in de opening tag. Dit onderscheid ze van de
    content die zit tussen de opening en closing tag.
    <a attribuut1="waarde" attribuut2>Inhoud</a>

    HREF attribuut staat voor hyperlink reference en maakt een anchor tot een 
    link.

    ##############
    2.  LINK TYPES
    ##############
    
    To refer to (internal or external) files from inside of a HTML file, the
    Internet uses “uniform resource locators” (URLs). 

    You can use anchor tags for links or turn other HTML elements into a link
    by wrapping them into an anchor tag with href attribute.

    There are ABSOLUTE, RELATIVE, and ROOT-RELATIVE links. 

        A. ABSOLUTE LINKS

    Absolute links are the most detailed way you can refer to a web resource.
    A full url includes protocol, domain and path: 
        <a href="https://www.google.com/gmail>">Google Mail</a>
          
    It’s usually a better idea to reserve absolute links only for directing 
    users to a different website.
-->
        <hr>
        <h4>Links</h4>
            <a href="www.google.com" title="Google" target="_blank">link naar Google</a>
            <a href="www.google.com"><img src="img.jpg"></a>
        <hr>
<!--
        B. RELATIVE LINKS
    
    Relative links point to another file in your website from the vantage point
    of the file you’re editing. It is assumed that the protocol or scheme and 
    domain are the same, so you only specify the path.
-->
        <a href="other.html">file in the same folder</a>
        <a href="folder/other.html">file in another folder at the same level</a>
        <a href="folder/another-folder/other.html>">same but two folders deep</a>

        <a href="../other.html">file in a folder directly above the folder of the
        current file</a>
        <a href="../../other.html">two levels up</a>
<!-- 
        C. ROOT-RELATIVE LINKS
    
    The example above illustrates that relative linking can get confusing very 
    fast. Therefore, especially on big sites you can use root-relative links.
    In EXPRESS apps for example there is a 'public' folder that is considered
    root for static files (css, sas, images). Using '/' means starting in the
    root folder.
 -->
        <a href="/images.html">starting with a slash refers to root dir </a>
        <a href="/images/temp/img.jpg">img in a subfolder</a>