<!--    
    LISTS   
    
    The HTML specification defines strict rules about what elements can go 
    inside other elements. In this case, <ul> elements should only contain 
    <li> elements, which means you should never ever write something like 
    this: <ul><p></p></ul>. The correct way is for UNORDERED LIST:

        <ul>
            <li><p>list item</p></li>
        </ul>
-->
<h3>Lijsten</h3>
<p>Een niet-genummerde lijst via ul tag</p>
	<ul type="circle">
		<li>eerste bak Goudster</li>
		<li>tweede bak goudster</li>
	</ul>

	<ul type="none"> 
		<li>HOME</li>
		<li>SHOP</li>
		<li>ABOUT</li>
    </ul>
<!--     
    ATTRIBUTES
        <ul> types: square, none, circle
        In CSS: 
            ul {list-style-type: none}

            list-style-position: outside (the item), inside (the item);

            list-style-image: none; or list-style-image: url(path of a gif, svg);

            SHORTHAND: 
                
                list-style: none outside none;
                    For type, position, image

        contenteditable="true" 
            Laat de gebruiker to om zelf de waarden aan te passen,
            bijvoorbeeld, in een to-do lijst
-->

<p>Een genummerde lijst via ol tag</p>
	<ol reversed>
		<li><strong>eerste glas</strong></li>
		<li><em>tweede glas</em></li>
	</ol>
<!--
    <ol reversed> draai je de nummervolgorde om.
    <ol type="A">   of "a" krijg je letters.
    <ol type="I">   of "i" krijg je Romeinse letters.
    <ol start="5">  begint de nummering op 5
-->

<!-- NESTED LISTS: Verschillende niveau's onder elke lijst, bijv. submenu -->
<p>
	<ul>
		<li>eerste bak Goudster</li>
		<li>tweede bak goudster</li>
			<ul>
				<li>met 6 flesjes</li>
				<li>met 24 flesjes</li>
					<ul>
						<li>met korting</li>
						<li>zonder korting</li>
					</ul>
			</ul>
	</ul></p>
<!--
    Step-by-step procedures like recipes, instructions, and even tables of contents
    are good candidates for ordered lists, while <ul> lists are better for
    representing item inventories, product features, pro/con comparisons, and
    navigational menus.
-->