<!--
	##### 
	FORMS
	####################################
		I.		ABOUT
		II.		HTMLMARKUP
		III.	BACKEND PROCESS
		IV.		ATTRIBUTES
		V.		LABELS
		VI.		STYLING
	####################################

	#########
	I.	ABOUT
	#########

	Forms are the "money pages" of any website. Of crucial importance. There 
	are two aspects of a functional HTML form: the frontend user interface and
	the backend server. The former is the appearance of the form (as defined by
	HTML and CSS), while the latter is the code that processes it (storing data
	in a database, sending an email, etc).

	It’s always a good idea to have a mockup representing the exact page you 
	want to build before you start coding it up, but this is particularly true
	for forms!

	##############
	II.	HTMLMARKUP
	##############

	<form action='/server/' method='get' class=''>
	
	The ACTION attribute holds the /server/ url link whereto the data is send
	once the user clicks the submit button.

	The backend technologies for processing this data can be, for example, PHP, 
	NodeJS(Express) or Ruby.

	The METHOD attribute can be either post or get, both of which define how 
	the form is submitted to the backend server. The general rule of thumb is 
	to use "post" when you’re changing data on the server, reserving "get" for
	when you’re only getting data, like with search-bar.

	NOTE: If you leave the action attribute blank and use the 'get' method you
	can easily inspect the content of the form as it is submitted to the same 
	url in the address bar.
	
	#######################
	III.	BACKEND PROCESS
	#######################

	Generally speaking, there are two ways to process forms:

	- SUBMIT AND REDIRECT: the form data is sent to a backend URL, which 
	then redirects the user to a success or error page.
	- SUBMIT AND RENDER NEW INFO on the existing page with AJAX queries Success
	or error messages are displayed on the same page by manipulating the HTML 
	with JavaScript.

	Forms usually send the data it contains ENCODED as 
	application/x-www-form-urlencoded

	That is why in EXPRESS you use the bodyParser.urlEncoded({extended: true}) 
	method to PARSE the form info.

	When working with FILE UPLOADS the data is send in a different format:
	multipart/form-data 
	
	Then HTML attribute needs to be added: enctype="multipart/form-data"

	When you have both data-types in the same form form you get errors. Thus 
	either seperate the forms or use a library like FORMIDABLE to better 
	handle the process.

	WORKFLOW

	Depending on how your organization is structured, form processing may not
	be part of your job role as a frontend web developer. If that’s the case, 
	you’ll need to coordinate closely with a backend developer on your team to
	make sure the <form> submits the correct name-value pairs. Otherwise, it’ll
	be up to you to make sure the frontend and backend of your forms fit neatly
	together.

	-	mockup: visual representation of what to build
	-	form markup in html
	- 	form styling in css
	-	form animation in css/js
	- 	form validation: front-end with pattern attribute and/or backend code

	##############
	IV.	ATTRIBUTES 
	##############

	AUTOFOCUS 
	This a boolean value and automatically sets the input to autofocus on 
	loading the page.

	REQUIRED
	This too is boolean value and uses browser styles to indicate to the user
	that he cannot leave it blank upon clicking submit.
	
	NAME
	Each input field should have a NAME attribute. The name and value 
	attributes are included in HTTP request when we submit the form and the
	name is used as reference in the backend code to idenfity the input fields.
	
	VALUE
	Define the initial or default value of the input form.

	PATTERN
	The pattern attribute specifies a regular expression that the <input> 
	element's value is checked against on form submission.

	PLACEHOLDER
	The placeholder attribute specifies a text within an input field which 
	informs the user about the expected input of that filed. The placeholder 
	attribute can be used with text, password, email, and URL values. It is
	removed once the user starts typing.

	Note that when you specify a default value in the value="" attribute this
	will override the placeholder.

	FORM
	Allows you to place input fields or buttons outside the <form> tag markup 
	while still being submitted when clicking the button. This requires two
	steps: an ID on the <form id="fcontrol"> element and the form attribute on
	the <input form="fcontrol">

	SIZE
	Specify the number of character a text input field can have.

	maxlength 
	minlength

	##########
	V.	LABELS 
	##########t

	The <label> element is good html semantic practice and helps screenreaders. 
	The <label for=""> attribute must match the <input id=""> attribute.
	
	ASTERIX after require field label is added with the ::pseudo element 
	selector in css. content '*'; and some padding.

	############
	VI.	STYLING
	############

	What the forms should look like is something you need to draw up in 
	advance. Also think about basic animation.
	
	The essential attributes are one thing but think about the user experience
	as well: the title attribute, the pattern with regex. 

	Many components can be recycled into a seperate .scss file. Especally the 
	styling of labels an input elements.

	BORDER BOTTOM LINE ON INPUT

	Remove background. Set a border: none; AND border-bottom: 1px solid;

	Then ::focus add a box-shadow with VERTICAL offset and a NEGATIVE
	SPREAD: box-shadow: 0 .5rem 0 -.35rem; Thus a zero offset on the X-axis,
	a .5 offset on the Y-axis, zero BLUR and a SPREAD of -.35. The spread will
	reduce the offset that is defined.
