<!-- 
	############
	FORM BUTTONS 
	############

	Clicking the button tells the browser to validate all of the <input/>
	elements in the form and submit it to the action URL if there aren’t any
	validation problems.

	BUTTON

	Standaard knoppen: <button></button>. Met de button tag kan je de knop 
	helemaal stijlen met inhoud zoals afbeeldingen en text. <button> laat ook 
	children toe zoals <i>. Dit kan niet met de input tag.

	Maar zonder de <form></form> hebben de meeste knoppen weinig zin, dan 
	gebruik je beter een anchor link die je stijlt als button.
	
	ATTRIBUTES

	Geef specifiek attribuut aan elk type knop wil: type="submit | reset".
	Reset wist de ingevulde form-data en zet the waarden terug op default.
-->
	<button type="reset">Reset</button> 
	<button type="submit">Submit</button>